body {
    margin: 0;
    font-family: Georgia, serif;
    background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
    url("images/fantasy-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #f4e8c1;
}

header {
    background: rgba(35,20,5,0.95);
    padding: 35px;
    text-align: center;
    font-size: 45px;
    color: #ffd700;
    border-bottom: 3px solid #8b6b2e;
    text-shadow: 0 0 15px black;
}

nav {
    background: rgba(0,0,0,0.85);
    padding: 20px;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 8px;
    padding: 12px 20px;
    background: #4b2e14;
    color: #ffd700;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #8b6b2e;
}

nav a:hover {
    background: #8b6b2e;
    color: white;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background: rgba(15,15,15,0.85);
    border: 2px solid #8b6b2e;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 25px black;
}

h2 {
    color: #ffd700;
}

button {
    background: #4b2e14;
    color: #ffd700;
    border: 1px solid #8b6b2e;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 16px;
}

button:hover {
    background: #8b6b2e;
    color: white;
}
.hero {
    text-align:center;
    padding:50px;
}

.hero h2 {
    font-size:40px;
    text-shadow:0 0 15px black;
}

.hero p {
    font-size:22px;

}
